body {
  margin: 0;
  font-family: 'Kosugi Maru', -apple-system, sans-self;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)), url(./assets/cover.png);
}

input[type=text] {
  margin: 0;
  font-size: 20px;
  height: 36px;
  text-align: right;
  background-color: transparent;
  color: white;
}

.preview-image {
  background-color: #ffffff;
  background-image:
    repeating-linear-gradient(45deg, #ececec 25%, transparent 25%, transparent 75%, #ececec 75%, #ececec),
    repeating-linear-gradient(45deg, #ececec 25%, #ffffff 25%, #ffffff 75%, #ececec 75%, #ececec);
  background-position: 0 0, 10px 10px !important;
  background-size: 20px 20px !important;
  background-repeat: repeat !important;
}
